<div>
  <nav class="navbar navbar-expand-lg  body">
    <div class="container-fluid">
      &nbsp;&nbsp;
      <a class="navbar-brand text-center brand" href="#">
        <img src="../assets/brand.png" width="80" height="60" alt="" class="rounded">
        <h1 style="font-family:'American Typewriter, serif';">Electronic <br />Stores</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/signup']" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Contact
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#" style="color: #78184A !important;font-size: small;">Github</a></li>
              <li><a class="dropdown-item" href="#" style="color: #78184A !important;font-size: small;">Linked In</a>
              </li>
              <li><a class="dropdown-item" href="#" style="color: #78184A !important;font-size: small;">Portfolio</a>
              </li>
            </ul>
          </li>
        </ul>
        <span class="navbar-text">
          Sign in/Sign up
        </span>
      </div>
    </div>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>