.body{
    // background: linear-gradient(to top,#78184A,#ffffff);
    background-color: #78184A;
    color: floralwhite !important;
    
}

a{
    color: floralwhite !important;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}



@media screen and (min-width: 1200px) {
    .brand{
        display: flex;justify-content: center;
    }
}
@media screen and (max-width: 1199px) {
    .brand{
        display: flex;
        float: left;
    }
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
        justify-content: center !important;
    }
    .navbar-collapse{
        text-align: center;
    }
}
